############################
# Build results
############################
bin/
obj/
out/
*.exe
*.dll
*.pdb

############################
# User-specific files
############################
*.user
*.suo
*.userosscache
*.sln.docstates

############################
# IDE / Editor
############################
.vs/
.vscode/
.idea/

############################
# Logs
############################
*.log

############################
# Database files
############################
*.mdf
*.ldf
*.sqlite
*.db

############################
# Publish files
############################
*.pubxml
*.publishsettings

############################
# Secrets / Config
############################
appsettings.json
appsettings.*.json
secrets.json

############################
# Others
############################
node_modules/
